rules_version = '2';
service cloud.firestore {
  match /databases/ai-studio-002b111e-62c8-4cc3-b324-3c798ba3698a/documents {
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
